body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1030px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5056 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:98px;
  width:1030px;
  height:900px;
}
#u5056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u5057 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:128px;
  width:160px;
  height:40px;
  font-size:14px;
}
#u5057_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u5058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:761px;
}
#u5058 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:168px;
  width:1px;
  height:760px;
}
#u5058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:405px;
  height:19px;
}
#u5059p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:400px;
  height:6px;
}
#u5059p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:6px;
}
#u5059p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u5059p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5059p002 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:-9px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5059p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5059 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:387px;
  width:396px;
  height:1px;
  text-align:left;
}
#u5059_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:386px;
  word-wrap:break-word;
}
#u5060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u5060 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:128px;
  width:160px;
  height:40px;
  font-size:14px;
}
#u5060_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u5061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:761px;
}
#u5061 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:168px;
  width:1px;
  height:760px;
}
#u5061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u5062 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:128px;
  width:160px;
  height:40px;
  font-size:14px;
}
#u5062_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u5063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:761px;
}
#u5063 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:168px;
  width:1px;
  height:760px;
}
#u5063_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:405px;
  height:19px;
}
#u5064p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:400px;
  height:6px;
}
#u5064p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:6px;
}
#u5064p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u5064p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5064p002 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:-9px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5064p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5064 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:555px;
  width:396px;
  height:1px;
  text-align:left;
}
#u5064_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:386px;
  word-wrap:break-word;
}
#u5065_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:406px;
  height:19px;
}
#u5065p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:402px;
  height:6px;
}
#u5065p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:6px;
}
#u5065p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:22px;
  height:20px;
}
#u5065p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u5065p002 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:0px;
  width:4px;
  height:2px;
}
#u5065p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u5065 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:782px;
  width:396px;
  height:1px;
  color:#0286DF;
  text-align:right;
}
#u5065_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u5066_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:406px;
  height:19px;
}
#u5066p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:402px;
  height:6px;
}
#u5066p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:6px;
}
#u5066p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:22px;
  height:20px;
}
#u5066p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u5066p002 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:0px;
  width:4px;
  height:2px;
}
#u5066p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u5066 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:856px;
  width:396px;
  height:1px;
  color:#FF0000;
  text-align:right;
}
#u5066_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u5067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u5067 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:928px;
  width:160px;
  height:40px;
  font-size:14px;
}
#u5067_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u5068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u5068 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:928px;
  width:160px;
  height:40px;
  font-size:14px;
}
#u5068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u5069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u5069 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:928px;
  width:160px;
  height:40px;
  font-size:14px;
}
#u5069_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u5070_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5070 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:50px;
  width:97px;
  height:28px;
}
#u5070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:405px;
  height:19px;
}
#u5071p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:400px;
  height:6px;
}
#u5071p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:6px;
}
#u5071p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u5071p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5071p002 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:-9px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5071p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5071 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:219px;
  width:396px;
  height:1px;
  text-align:left;
}
#u5071_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:386px;
  word-wrap:break-word;
}
#u5072_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:406px;
  height:19px;
}
#u5072p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:402px;
  height:6px;
}
#u5072p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:6px;
}
#u5072p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u5072p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u5072p002 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:-1px;
  width:4px;
  height:4px;
}
#u5072p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5072 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:303px;
  width:396px;
  height:1px;
  color:#FF0000;
  text-align:right;
}
#u5072_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u5073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5073 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1058px;
  width:1030px;
  height:100px;
}
#u5073_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:405px;
  height:19px;
}
#u5074p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:400px;
  height:6px;
}
#u5074p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:6px;
}
#u5074p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:2px;
}
#u5074p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u5074p002 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:-10px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u5074p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5074 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:698px;
  width:396px;
  height:1px;
  color:#FF0000;
  text-align:left;
}
#u5074_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u5075_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:406px;
  height:19px;
}
#u5075p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:402px;
  height:6px;
}
#u5075p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:6px;
}
#u5075p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u5075p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u5075p002 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:-1px;
  width:4px;
  height:4px;
}
#u5075p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u5075 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:471px;
  width:396px;
  height:1px;
  color:#FF0000;
  text-align:right;
}
#u5075_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u5076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5077_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:65px;
  height:48px;
}
#u5077 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:629px;
  width:55px;
  height:39px;
}
#u5077_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5078 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:641px;
  width:195px;
  height:16px;
}
#u5078_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
