body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:relative;
  left:-100px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:375px;
  height:812px;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:164px;
  width:82px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:100px;
  width:375px;
  height:812px;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:748px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:100px;
  width:375px;
  height:748px;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:148px;
  width:6px;
  height:6px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:148px;
  width:6px;
  height:6px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:148px;
  width:6px;
  height:6px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:766px;
  width:60px;
  height:60px;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:799px;
  width:34px;
  height:14px;
  font-size:11px;
  color:#FFFFFF;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:779px;
  width:16px;
  height:16px;
  color:#1890FF;
}
#u1258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:5px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:785px;
  width:10px;
  height:5px;
  color:#1890FF;
}
#u1259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:8px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:785px;
  width:2px;
  height:8px;
  color:#1890FF;
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:782px;
  width:5px;
  height:5px;
  color:#1890FF;
}
#u1261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:782px;
  width:5px;
  height:5px;
  color:#1890FF;
}
#u1262_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:766px;
  width:60px;
  height:60px;
}
#u1264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:779px;
  width:20px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1266_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:800px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#FFFFFF;
}
#u1267_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:848px;
  width:375px;
  height:64px;
}
#u1268_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:864px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:864px;
  width:23px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:864px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:60px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:212px;
  width:343px;
  height:60px;
}
#u1272_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:2px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:889px;
  width:20px;
  height:2px;
}
#u1273_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:142px;
  width:10px;
  height:18px;
  color:#1890FF;
}
#u1274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:748px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:164px;
  width:375px;
  height:748px;
}
#u1276_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:42px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:997px;
  top:194px;
  width:161px;
  height:42px;
  font-size:36px;
  color:#FF0000;
}
#u1277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:256px;
  width:343px;
  height:224px;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
  font-size:14px;
  color:#5E5E5E;
  text-align:left;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u1280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:32px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:0px;
  width:213px;
  height:32px;
  font-size:14px;
  color:#5E5E5E;
  text-align:right;
}
#u1280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:211px;
  word-wrap:break-word;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:130px;
  height:32px;
  font-size:14px;
  color:#5E5E5E;
  text-align:left;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u1282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:32px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:32px;
  width:213px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
}
#u1282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:211px;
  word-wrap:break-word;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:130px;
  height:32px;
  font-size:14px;
  color:#5E5E5E;
  text-align:left;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u1284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:32px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:64px;
  width:213px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
}
#u1284_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:211px;
  word-wrap:break-word;
}
#u1285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:130px;
  height:32px;
  font-size:14px;
  color:#5E5E5E;
  text-align:left;
}
#u1285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:32px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:96px;
  width:213px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
}
#u1286_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:211px;
  word-wrap:break-word;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:128px;
  width:130px;
  height:32px;
  font-size:14px;
  color:#5E5E5E;
  text-align:left;
}
#u1287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:32px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:128px;
  width:213px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
}
#u1288_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:211px;
  word-wrap:break-word;
}
#u1289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:130px;
  height:32px;
  font-size:14px;
  color:#5E5E5E;
  text-align:left;
}
#u1289_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:32px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:160px;
  width:213px;
  height:32px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:right;
}
#u1290_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:211px;
  word-wrap:break-word;
}
#u1291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:32px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:130px;
  height:32px;
  font-size:14px;
  color:#5E5E5E;
  text-align:left;
}
#u1291_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u1292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:32px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:192px;
  width:213px;
  height:32px;
  font-size:14px;
  color:#5E5E5E;
  text-align:right;
}
#u1292_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:211px;
  word-wrap:break-word;
}
#u1293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:44px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:510px;
  width:343px;
  height:44px;
  font-size:16px;
}
#u1293_img.mouseOver {
}
#u1293.mouseOver {
}
#u1293_img.mouseDown {
}
#u1293.mouseDown {
}
#u1293_img.disabled {
}
#u1293.disabled {
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:12px;
  width:311px;
  word-wrap:break-word;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:124px;
  width:375px;
  height:40px;
}
#u1295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:128px;
  width:32px;
  height:32px;
}
#u1297_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:136px;
  width:10px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1298_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:24px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:132px;
  width:56px;
  height:24px;
  font-size:17px;
}
#u1299_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  white-space:nowrap;
}
#u1300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:25px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:100px;
  width:375px;
  height:24px;
}
#u1300_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:6px;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:109px;
  width:38px;
  height:6px;
  color:#FFFFFF;
}
#u1301_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:107px;
  width:14px;
  height:11px;
  color:#FFFFFF;
}
#u1302_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:104px;
  width:50px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1303_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u1304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:105px;
  width:31px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1304_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:12px;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:106px;
  width:26px;
  height:12px;
}
#u1306_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:8px;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:108px;
  width:22px;
  height:8px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1307_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:1255px;
  top:110px;
  width:2px;
  height:4px;
}
#u1308_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:100px;
  width:375px;
  height:812px;
}
#u1310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:380px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:532px;
  width:375px;
  height:380px;
}
#u1311_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:44px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:815px;
  width:343px;
  height:44px;
  font-size:16px;
  color:#FFFFFF;
}
#u1312_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u1313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:1439px;
  top:597px;
  width:68px;
  height:16px;
  text-align:center;
}
#u1313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:623px;
  width:145px;
  height:37px;
  text-align:center;
}
#u1314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:679px;
  width:343px;
  height:1px;
}
#u1316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:734px;
  width:343px;
  height:1px;
}
#u1317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:1285px;
  top:542px;
  width:56px;
  height:56px;
  font-size:26px;
  color:#999999;
  text-align:center;
}
#u1318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u1319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:1587px;
  top:562px;
  width:57px;
  height:16px;
}
#u1319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:690px;
  width:43px;
  height:16px;
}
#u1320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:710px;
  width:121px;
  height:15px;
  font-size:12px;
  color:#A1A1A1;
}
#u1321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:1637px;
  top:693px;
  width:6px;
  height:10px;
  color:#1E1E1E;
}
#u1322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:1402px;
  top:869px;
  width:141px;
  height:16px;
  color:#A1A1A1;
}
#u1323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1325_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:1680px;
  top:100px;
  width:375px;
  height:812px;
}
#u1325_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:280px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:1680px;
  top:632px;
  width:375px;
  height:280px;
}
#u1327_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:1694px;
  top:664px;
  width:7px;
  height:12px;
  color:#1E1E1E;
}
#u1328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:1827px;
  top:759px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u1329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:51px;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:1843px;
  top:808px;
  width:50px;
  height:51px;
  color:#1E1E1E;
}
#u1330_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:1982px;
  top:662px;
  width:57px;
  height:16px;
  color:#0286DF;
  text-align:right;
}
#u1331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:748px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:2075px;
  top:164px;
  width:375px;
  height:748px;
}
#u1333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:2075px;
  top:124px;
  width:375px;
  height:40px;
}
#u1335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:25px;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:2075px;
  top:100px;
  width:375px;
  height:24px;
}
#u1336_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:2405px;
  top:136px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u1337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:6px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:2083px;
  top:109px;
  width:38px;
  height:6px;
}
#u1338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:2131px;
  top:107px;
  width:14px;
  height:11px;
  color:#1E1E1E;
}
#u1339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:2238px;
  top:104px;
  width:50px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1340_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u1341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:15px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:2377px;
  top:105px;
  width:31px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:2416px;
  top:106px;
  width:24px;
  height:12px;
}
#u1343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:2418px;
  top:108px;
  width:20px;
  height:8px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:2440px;
  top:110px;
  width:2px;
  height:4px;
}
#u1345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:2188px;
  top:681px;
  width:150px;
  height:40px;
  font-size:16px;
}
#u1346_img.mouseOver {
}
#u1346.mouseOver {
}
#u1346_img.mouseDown {
}
#u1346.mouseDown {
}
#u1346_img.disabled {
}
#u1346.disabled {
}
#u1346_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u1347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:222px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:2075px;
  top:164px;
  width:375px;
  height:222px;
}
#u1347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:2234px;
  top:170px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:2248px;
  top:130px;
  width:30px;
  height:30px;
  color:#1E1E1E;
}
#u1349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:2190px;
  top:216px;
  width:145px;
  height:37px;
  color:#FFFFFF;
  text-align:center;
}
#u1350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:2091px;
  top:283px;
  width:343px;
  height:52px;
}
#u1352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:108px;
  word-wrap:break-word;
}
#u1353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:26px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:0px;
  width:233px;
  height:26px;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u1353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:231px;
  word-wrap:break-word;
}
#u1354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:26px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:110px;
  height:26px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:108px;
  word-wrap:break-word;
}
#u1355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:26px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:26px;
  width:233px;
  height:26px;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u1355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:231px;
  word-wrap:break-word;
}
