body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1030px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4967 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:98px;
  width:1030px;
  height:1080px;
}
#u4967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u4968 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:128px;
  width:160px;
  height:40px;
  font-size:14px;
}
#u4968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u4969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:921px;
}
#u4969 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:168px;
  width:1px;
  height:920px;
}
#u4969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:405px;
  height:19px;
}
#u4970p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:400px;
  height:6px;
}
#u4970p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:6px;
}
#u4970p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:2px;
}
#u4970p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u4970p002 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:-10px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4970p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4970 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:372px;
  width:396px;
  height:1px;
  text-align:left;
}
#u4970_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:386px;
  word-wrap:break-word;
}
#u4971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u4971 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:128px;
  width:160px;
  height:40px;
  font-size:14px;
}
#u4971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u4972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:921px;
}
#u4972 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:168px;
  width:1px;
  height:920px;
}
#u4972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u4973 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:128px;
  width:160px;
  height:40px;
  font-size:14px;
}
#u4973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u4974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:921px;
}
#u4974 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:168px;
  width:1px;
  height:920px;
}
#u4974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4975_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:406px;
  height:19px;
}
#u4975p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:402px;
  height:6px;
}
#u4975p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:6px;
}
#u4975p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:22px;
  height:20px;
}
#u4975p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u4975p002 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:0px;
  width:4px;
  height:2px;
}
#u4975p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u4975 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:450px;
  width:396px;
  height:1px;
  color:#FF0000;
  text-align:right;
}
#u4975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u4976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:405px;
  height:19px;
}
#u4976p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:400px;
  height:6px;
}
#u4976p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:6px;
}
#u4976p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u4976p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u4976p002 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:-9px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4976p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4976 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:527px;
  width:396px;
  height:1px;
  text-align:left;
}
#u4976_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:386px;
  word-wrap:break-word;
}
#u4977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:405px;
  height:19px;
}
#u4977p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:400px;
  height:6px;
}
#u4977p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:6px;
}
#u4977p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:2px;
}
#u4977p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u4977p002 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:-10px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4977p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4977 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:616px;
  width:396px;
  height:1px;
  color:#FF0000;
  text-align:left;
  line-height:20px;
}
#u4977_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:386px;
  word-wrap:break-word;
}
#u4978_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:406px;
  height:19px;
}
#u4978p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:402px;
  height:6px;
}
#u4978p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:6px;
}
#u4978p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u4978p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u4978p002 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:-1px;
  width:4px;
  height:4px;
}
#u4978p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u4978 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:705px;
  width:396px;
  height:1px;
  color:#0286DF;
  text-align:right;
}
#u4978_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u4979_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:406px;
  height:19px;
}
#u4979p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:402px;
  height:6px;
}
#u4979p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:6px;
}
#u4979p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:22px;
  height:20px;
}
#u4979p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u4979p002 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:0px;
  width:4px;
  height:2px;
}
#u4979p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u4979 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:782px;
  width:396px;
  height:1px;
  color:#FF0000;
  text-align:right;
}
#u4979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u4980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:405px;
  height:19px;
}
#u4980p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:400px;
  height:6px;
}
#u4980p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:6px;
}
#u4980p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:2px;
}
#u4980p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u4980p002 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:-10px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4980p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4980 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:860px;
  width:396px;
  height:1px;
  text-align:left;
}
#u4980_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:386px;
  word-wrap:break-word;
}
#u4981_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:406px;
  height:19px;
}
#u4981p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:402px;
  height:6px;
}
#u4981p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:6px;
}
#u4981p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u4981p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u4981p002 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:-1px;
  width:4px;
  height:4px;
}
#u4981p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u4981 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:937px;
  width:396px;
  height:1px;
  color:#0286DF;
  text-align:right;
}
#u4981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u4982_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:406px;
  height:19px;
}
#u4982p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:400px;
  height:6px;
}
#u4982p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:6px;
}
#u4982p001 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4982p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4982p002 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:0px;
  width:4px;
  height:2px;
}
#u4982p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u4982 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:1014px;
  width:396px;
  height:1px;
  color:#FF0000;
  text-align:right;
}
#u4982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u4983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u4983 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:1088px;
  width:160px;
  height:40px;
  font-size:14px;
}
#u4983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u4984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u4984 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1088px;
  width:160px;
  height:40px;
  font-size:14px;
}
#u4984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u4985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u4985 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:1088px;
  width:160px;
  height:40px;
  font-size:14px;
}
#u4985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u4986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4986 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:50px;
  width:262px;
  height:28px;
}
#u4986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  white-space:nowrap;
}
#u4987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:405px;
  height:19px;
}
#u4987p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:400px;
  height:6px;
}
#u4987p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:6px;
}
#u4987p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:2px;
}
#u4987p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u4987p002 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:-10px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u4987p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4987 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:218px;
  width:396px;
  height:1px;
  text-align:left;
}
#u4987_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:8px;
  width:386px;
  word-wrap:break-word;
}
#u4988_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:406px;
  height:19px;
}
#u4988p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:402px;
  height:6px;
}
#u4988p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:6px;
}
#u4988p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u4988p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u4988p002 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:-1px;
  width:4px;
  height:4px;
}
#u4988p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u4988 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:295px;
  width:396px;
  height:1px;
  color:#FF0000;
  text-align:right;
}
#u4988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:392px;
  word-wrap:break-word;
}
#u4989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4989 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1178px;
  width:1030px;
  height:100px;
}
#u4989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
